@import "latte.css";

* {
	font-family: iMWritingMono Nerd Font Propo, Sarasa Fixed J Regular, Symbols Nerd Font Regular;
	font-size: 13px;
	min-height: 0;
}

#waybar {
	background: transparent;
	color: @text;
}

#workspaces {
	background-color: @base;
	border-radius: 1rem;
	border: 1px solid @sky;
	margin-right: 7px;
	margin-left: 14px;
	margin-top: 7px;
}

#workspaces button {
	color: @pink;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 1rem;
}

#workspaces button.empty {
	color: @sky;
}

#workspaces button.active {
	color: @base;
	background-color: @sky;
}

#workspaces button.urgent {
	color: @base;
	background-color: @red;
}

#battery.warning:not(.charging) {
	color: @red;
}

#custom-dnd,
#custom-power
{
	margin-right: 3px;
}

#idle_inhibitor {
	color: @sky;
	padding-right: 0px;
	margin-right: -6px;
}

#custom-logo {
	color: @sky;
	background-color: @base;
	padding-right: 0px;
	padding-left: 0px;
}

#clock {
	color: @sky;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 4px;
}

#mpris,
#battery,
#wireplumber,
#idle_inhibitor,
#network,
#memory,
#cpu,
#clock,
#custom-power,
#custom-dnd,
#custom-logo,
#tray,
#window
{
	margin-top: 7px;
	background-color: @base;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: @sky;
	border: 1px solid @sky;
	border-radius: 0rem;
}

#tray {
	margin-right: 3px;
}

#idle_inhibitor {
	margin-right: 4px;
}

#window {
	border-radius: 1rem;
}

window#waybar.empty #window {
	background-color: transparent;
	border: transparent;
}

#mpris {
	border-radius: 1rem;
	margin-right: 5px;
}

#wireplumber {
	border-radius: 1rem 0rem 0rem 1rem;
}

#clock {
	border-radius: 0rem 1rem 1rem 0rem;
	margin-right: 14px;
}

#tray menu,
tooltip {
	color: @sky;
	background-color: @base;
	padding: 11px;
	border: 1px solid @sky;
	border-radius: 1rem;
}
