@import "mocha.css";

* {
  font-family: iMWritingMono Nerd Font, Noto Sans CJK HK Regular, Symbols Nerd Font Regular;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: @transparent;
  color: @mauve;
  margin: 7px 0px;
}

#workspaces {
  background-color: @base;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  padding-right: 2px;
  border: 1px solid @mauve;
}

#workspaces button {
  color: @pink;
  padding: 0.5rem;
}

#workspaces button.empty {
  color: @mauve;
}

#workspaces button.visible {
  color: @base;
  background-color: @mauve;
  border-radius: 0px;
}

#workspaces button.urgent {
   color: @red;
}

#tray,
#battery,
#wireplumber,
#idle_inhibitor,
#network,
#memory,
#clock,
#custom-power,
#custom-logo,
#tray
{
  background-color: @base;
  padding: 0px 8px 0px 8px;
  margin-top: 7px;
  margin-right: 5px;
}

#clock {
  color: @mauve;
  border: 1px solid @mauve;
  padding-right: 13px;
  margin-left: 7px;
}

#battery {
  color: @mauve;
  border: 1px solid @mauve;
}

#battery.charging {
  color: @mauve;
  border: 1px solid @mauve;
}

#battery.warning:not(.charging) {
  color: @red;
  border: 1px solid @mauve;
}

#wireplumber {
  color: @mauve;
  border: 1px solid @mauve;
}

#memory {
	color: @mauve;
  border: 1px solid @mauve;
}

#network {
	color: @mauve;
  border: 1px solid @mauve;
}

#idle_inhibitor {
	color: @mauve;
  border: 1px solid @mauve;
  padding-right: 0px;
}

#tray {
  border: 1px solid @mauve;
  margin-right: 7px;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-power {
  border: 1px solid @mauve;
  color: @mauve;
  background-color: @base;
}

#custom-logo {
  border: 1px solid @mauve;
  color: @mauve;
  background-color: @base;
  margin-right: 7px;
  padding-right: 13;
  padding-left: 11px;
}

tooltip {
  color: @text;
  background-color: @base;
}
