@import "gruvbox_dark.css";

* {
  font-family: iMWritingMono Nerd Font Propo, Sarasa Fixed J Regular, Symbols Nerd Font Regular;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: @bg0;
  color: @blue0;
}

#workspaces {
  background-color: @bg0;
  margin-right: 7px;
}

#workspaces button {
  color: @yellow0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 0px;
}

#workspaces button.empty {
  color: @blue0;
}

#workspaces button.visible {
  color: @bg0;
  background-color: @blue0;
}

#workspaces button.urgent {
   color: @bg0;
   background-color: @red0;
}

#mpris,
#tray,
#battery,
#wireplumber,
#idle_inhibitor,
#network,
#memory,
#clock,
#custom-power,
#custom-dnd,
#custom-logo,
#tray
{
  background-color: @bg0;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: @blue0;
}

#clock {
  color: @blue0;
  padding-top: 0px;
  padding-bottom: 1px;
  margin-right: 4px;
}

#battery.warning:not(.charging) {
  color: @red1;
}

#idle_inhibitor {
	color: @blue0;
  padding-right: 0px;
  margin-right: -6px;
}

#custom-dnd,
#custom-power
{
  margin-right: 3px;
}

#tray {
  padding-right: 10px;
  padding-left: 10px;
}

#custom-logo {
  color: @blue0;
  background-color: @bg0;
  padding-right: 0px;
  padding-left: 0px;
}

#custom-layout {
	margin-left: -4px;
	margin-right: 3px;
}

tooltip {
  color: @blue0;
  background-color: @bg0;
  padding: 11px;
  border: 1px solid @blue0;
  border-radius: 0px;
}
